.content
  %h1
    .back
      %a.pink{:href => '/'} < wróć
    idea
    = image_tag('img/logo.png', :alt => 'scool', :class => 'logo')

  %h2 dobra szkoła językowa blisko domu

  %p
    scool istnieje od&nbsp;2001 roku. Od początku chcieliśmy, żeby uczeń mógł korzystać z&nbsp;naszych zajęć w&nbsp;swojej szkole lub blisko domu. Zajęcia odbywają się w&nbsp;różnych szkołach na&nbsp;terenie Łodzi, a&nbsp;w&nbsp;tym roku, w&nbsp;związku z&nbsp;utrudnieniami komunikacyjnymi w&nbsp;centrum miasta, otwieramy dwie filie stacjonarne –
    %span.green SMULSKO
    (Retkinia) i
    %span.green OLECHÓW
    (Widzew).


  %h3
    scool
    %span.green filie
    \– nowe możliwości
  %p Nowe filie dają nam możliwość ożywienia i&nbsp;uatrakcyjnienia życia szkoły.
  %p Wszyscy uczniowie scool będą mogli brać udział w&nbsp;przedstawieniach, konkursach ogólnoszkolnych i&nbsp;imprezach okolicznościowych (np.: dzień angielski, dzień hiszpański, Halloween, St.&nbsp;Patrick’s&nbsp;Day, Mother’s&nbsp;Day).
  %p Uczniowie scool mogą też korzystać z&nbsp;biblioteki dodatkowych oryginalnych materiałów językowych (bajki, czasopisma i&nbsp;książki odpowiednie do&nbsp;poziomu zaawansowania języka obcego) oraz biblioteki metodycznej (gramatyki, dodatkowe ćwiczenia).

  %h3
    scool
    %span.green grupy
  %p
    Bazując na&nbsp;wieloletnim doświadczeniu dopasowaliśmy czas trwania zajęć do&nbsp;wieku uczniów i&nbsp;ich potrzeb, dzięki czemu nasze kursy są&nbsp;„skrojone na&nbsp;miarę”. Dzieci uczą się z&nbsp;nami przez wiele lat. W&nbsp;2011 roku cieszyliśmy się z&nbsp;maturalnych sukcesów uczniów, którzy uczyli się w&nbsp;scool od&nbsp;8&nbsp;roku życia! Młodzież i&nbsp;dorośli mogą korzystać z&nbsp;intensywnych kursów nastawionych na&nbsp;konkretne potrzeby (egzaminy, konwersacje, przygotowanie do&nbsp;wyjazdów zagranicznych, itd.). Więcej w&nbsp;zakładkach
    %a.pink{:href => 'dzieci.html'} dzieci
    oraz
    = succeed('.') do
      %a.pink{:href => 'mlodziezidorosli.html'} dorośli&nbsp;i&nbsp;młodzież

  %h3
    scool
    %span.green metody
  %p
    Uczymy
    = succeed('.') do
      %span.green naturalną metodą komunikacyjną
    Od&nbsp;początku mówimy na&nbsp;zajęciach w&nbsp;języku obcym. W&nbsp;grupach początkujących lektor używa prostego języka z&nbsp;dużą liczbą powtórzeń, co&nbsp;jest zbliżone do&nbsp;przyswajania języka ojczystego. Dzięki metodom Total Body Response i&nbsp;Drama (ruch, scenki, przedstawienia) uczniowie są&nbsp;aktywni i&nbsp;szybciej się uczą.
  %p
    Każdy uczeń dwa razy w&nbsp;semestrze otrzymuje
    = succeed(',') do
      %span.green raport postępów w nauce
    co&nbsp;zwiększa motywację i&nbsp;pozwala wcześnie zauważyć, na&nbsp;których umiejętnościach warto się skupić. W&nbsp;przypadku grup dziecięcych jesteśmy w&nbsp;stałym kontakcie z&nbsp;rodzicami.
  %p
    Dla uczniów którzy opuścili ponad dwa tygodnie zajęć z&nbsp;powodu choroby proponujemy
    = succeed('.') do
      %span.green bezpłatne dodatkowe zajęcia indywidualne

  %h3
    scool
    %span.green lektorzy
    i scool
    %span.green rodzice
  %p Nasi lektorzy lubią uczyć, a&nbsp;pomagają im&nbsp;scool metodycy, czuwający nad poziomem i&nbsp;dynamiką zajęć.
  %p Rodzice mogą na&nbsp;początku roku szkolnego skorzystać z&nbsp;bezpłatnych zajęć pokazujących jak wspierać swoje dzieci w&nbsp;nauce oraz czuwać nad odrabianiem prac domowych i&nbsp;przygotowaniami do&nbsp;testów.

  %h3
    scool
    %span.green motto - Learn for love….
  %p Nauka języka rozwija zainteresowanie innymi kulturami i&nbsp;tolerancję, budzi miłość do&nbsp;języków, ludzi i&nbsp;świata.
  %p
    %span.cite Ile znasz języków, tyle razy jesteś człowiekiem.
    \– J. W. Goethe
